.main {
    display: flex;
}

.images_side {
    height: 100%;
    width: 50%;
    background-color: #002898;
}

.form_side {
    height: 100%;
    width: 50%;
    background-color: #FEFEFE;
    position: relative;
}

.login_form {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
